// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";

.pagination {
	margin-top:30px;
	margin-bottom: 30px;
	display: -webkit-flex;
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 5px;
  padding-left: 0px;
  .pagination li {
    background-color: #e4e5e6 !important;
    .pagination li a {
      margin-left: 0;
      padding: 25px;
      padding-top: 20px;
      font-size: 120%;
    }
  }
}



.page .active {
  color: #20a8d8;
  .page .active a {
    color: white;
  }
}




.customer {
	align-content: center;
}

.pagination li:hover {
	background: #20a8d8;
}

.pagination li a:hover {
	color: white;
}
body {
	font-family: 'Poppins', sans-serif !important;
	// font-family: 'Raleway', sans-serif, 'Open Sans', sans-serif, 'Poppins', sans-serif, 'Didact Gothic', sans-serif !important;
}
